body, html {
    width: auto;
    height: 100%;
    text-align: center;
    margin: 0; /* Remove default margin to ensure full width */
}
#cont{
    display:flex;
    justify-content: center;
}
#container { 
    width: 1000px;
}

.divContainer {
    display:flex;
    flex:1;
}

.divContainer > div {
    display:flex;
    flex:1;
    height: 9px;
    transition: background-color 0.3s;
}